# <center>        **Introduction to Data Science (S1-22_DSECLZG532)-ASSIGNMENT**</center>

## Group No

## Group Member Names:
1. 
2.
3.
4.

# 1. Business Understanding
 
Students are expected to identify a classification problem of your choice. You have to detail the Business Understanding part of your problem under this heading which basically addresses the following questions.
 
   1. What is the business problem that you are trying to solve?
   2. What data do you need to answer the above problem?
   3. What are the different sources of data?    
   4. What kind of analytics task are you performing?

Score: 1 Mark in total (0.25 mark each)

--------------Type the answers below this line--------------

In [1]:
# import necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from warnings import filterwarnings
filterwarnings('ignore')

# 2. Data Acquisition
 
For the problem identified , find an appropriate data set (Your data set must 
be unique) from any public data source.

---



## 2.1 Download the data directly

In [2]:
##---------Type the code below this line------------------##
student_dataSet = pd.read_excel('UnivData1.xlsx')

student_dataSet_old = pd.read_excel('UnivData1.xlsx')

## 2.2 Code for converting the above downloaded data into a dataframe

In [4]:
##---------Type the code below this line------------------##
# loaded the data set directly into the dataframe in the above cell.
type(student_dataSet)

pandas.core.frame.DataFrame

## 2.3 Confirm the data has been correctly by displaying the first 5 and last 5 records.

In [5]:
##---------Type the code below this line------------------##

#First 5 records
display("TOP 5 RECORDS ===:")
display(student_dataSet_old.head(5))

#Last 5 records
display("LAST 5 RECORDS ===: ")
display(student_dataSet_old.tail(5))

'TOP 5 RECORDS ===:'

,STUDENT IDENTIFIER,STDNT_AGE,STDNT_GENDER,STDNT_BACKGROUND,IN_STATE_FLAG,INTERNATIONAL_STS,STDNT_MAJOR,STDNT_MINOR,STDNT_TEST_ENTRANCE1,STDNT_TEST_ENTRANCE2,...,DEGREE_GROUP_CD,DEGREE_GROUP_DESC,FIRST_TERM_ATTEMPT_HRS,FIRST_TERM_EARNED_HRS,SECOND_TERM_ATTEMPT_HRS,SECOND_TERM_EARNED_HRS,GROSS_FIN_NEED,COST_OF_ATTEND,EST_FAM_CONTRIBUTION,UNMET_NEED
0,7808615,18,F,BGD 1,Y,N,Undeclared,N,NaN,1150.0,...,B,Bachelors,16,16,14.0,14.0,0,0,0,0.0
1,7830063,19,F,BGD 1,N,N,Undeclared,N,26.0,NaN,...,B,Bachelors,18,18,18.0,18.0,570000,1355760,785760,459300.0
2,7847538,18,M,BGD 1,Y,N,Mathematics,N,NaN,1020.0,...,B,Bachelors,15,15,14.0,14.0,0,0,0,0.0
3,8006429,18,M,BGD 1,Y,N,Undeclared,N,NaN,1210.0,...,B,Bachelors,13,13,14.0,14.0,0,0,0,0.0
4,7962680,18,F,BGD 1,Y,N,Art,N,NaN,1200.0,...,B,Bachelors,12,12,12.0,12.0,835920,1355760,519840,278340.0

'LAST 5 RECORDS ===: '

,STUDENT IDENTIFIER,STDNT_AGE,STDNT_GENDER,STDNT_BACKGROUND,IN_STATE_FLAG,INTERNATIONAL_STS,STDNT_MAJOR,STDNT_MINOR,STDNT_TEST_ENTRANCE1,STDNT_TEST_ENTRANCE2,...,DEGREE_GROUP_CD,DEGREE_GROUP_DESC,FIRST_TERM_ATTEMPT_HRS,FIRST_TERM_EARNED_HRS,SECOND_TERM_ATTEMPT_HRS,SECOND_TERM_EARNED_HRS,GROSS_FIN_NEED,COST_OF_ATTEND,EST_FAM_CONTRIBUTION,UNMET_NEED
3395,7948112,18,F,BGD 4,N,N,Music Performance,N,NaN,800.0,...,B,Bachelors,18,18,16.0,13.0,0,0,0,0.0
3396,8023055,18,F,BGD 1,Y,N,Biology,N,20.0,NaN,...,B,Bachelors,13,9,NaN,NaN,0,0,0,0.0
3397,7926915,18,F,BGD 4,Y,N,Biology,N,NaN,1020.0,...,B,Bachelors,14,6,NaN,NaN,0,945840,1288980,0.0
3398,7877332,18,F,BGD 3,Y,N,Joint Enrollment - Accel,N,21.0,NaN,...,B,Bachelors,12,9,NaN,NaN,0,269100,0,-231720.0
3399,7928405,18,M,BGD 2,Y,N,Art,Creative Writing,NaN,890.0,...,B,Bachelors,12,9,13.0,6.0,0,0,0,0.0

## 2.4 Display the column headings, statistical information, description and statistical summary of the data.

In [6]:
##---------Type the code below this line------------------##

student_dataSet_old.describe()

,STUDENT IDENTIFIER,STDNT_AGE,STDNT_TEST_ENTRANCE1,STDNT_TEST_ENTRANCE2,STDNT_TEST_ENTRANCE_COMB,FIRST_TERM,SECOND_TERM,RETURNED_2ND_YR,DISTANCE_FROM_HOME,HIGH_SCHL_GPA,FATHER_HI_EDU_CD,MOTHER_HI_EDU_CD,FIRST_TERM_ATTEMPT_HRS,FIRST_TERM_EARNED_HRS,SECOND_TERM_ATTEMPT_HRS,SECOND_TERM_EARNED_HRS,GROSS_FIN_NEED,COST_OF_ATTEND,EST_FAM_CONTRIBUTION,UNMET_NEED
count,3.400000e+03,3400.000000,1106.000000,2492.000000,2882.000000,3400.000000,3400.000000,3400.000000,3375.000000,3347.000000,2968.000000,2911.000000,3400.000000,3400.000000,3194.000000,3191.000000,3.400000e+03,3.400000e+03,3.400000e+03,3.400000e+03
mean,7.897155e+06,17.994118,20.660036,965.092295,997.758501,200777.000000,200871.000000,0.787353,99.825185,3.202738,2.560647,2.571281,13.985882,12.205000,14.285848,12.511125,3.034025e+05,5.515335e+05,3.446899e+05,7.222052e+04
std,8.083421e+04,0.552052,3.234734,209.088633,156.268221,170.001298,170.001298,0.409240,235.196984,0.455337,0.681273,0.611729,1.554286,2.986294,2.104387,3.470492,4.836255e+05,6.064403e+05,7.871878e+05,2.795679e+05
min,7.755837e+06,16.000000,8.000000,350.000000,530.000000,200508.000000,200602.000000,0.000000,0.000000,0.000000,1.000000,1.000000,9.000000,0.000000,2.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-1.212072e+06
25%,7.827039e+06,18.000000,18.000000,900.000000,910.000000,200608.000000,200702.000000,1.000000,69.000000,2.870000,2.000000,2.000000,13.000000,11.000000,13.000000,11.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,7.899052e+06,18.000000,20.000000,990.000000,990.000000,200808.000000,200902.000000,1.000000,69.000000,3.200000,3.000000,3.000000,14.000000,13.000000,14.000000,13.000000,0.000000e+00,1.505400e+05,0.000000e+00,0.000000e+00
75%,7.964008e+06,18.000000,22.000000,1100.000000,1110.000000,200908.000000,201002.000000,1.000000,138.000000,3.560000,3.000000,3.000000,15.000000,15.000000,16.000000,15.000000,5.995800e+05,1.192815e+06,3.241800e+05,1.876155e+05
max,8.037098e+06,26.000000,32.000000,1490.000000,1510.000000,201008.000000,201102.000000,1.000000,5932.000000,4.000000,4.000000,4.000000,21.000000,21.000000,23.000000,23.000000,2.124900e+06,2.124900e+06,5.999940e+06,1.632660e+06

## 2.5 Write your observations from the above. 
1. Size of the dataset
2. What type of data attributes are there?
3. Is there any null data that has to be cleaned?

Score: 2 Marks in total (0.25 marks for 2.1, 0.25 marks for 2.2, 0.5 marks for 2.3, 0.25 marks for 2.4, 0.75 marks for 2.5)

In [7]:
#--------------Type the answers below this line--------------


#   1.Size of the data set = 190400 total objects with 3400 rows and 56 attribute s
print("1. The size of the data set is == ", end=" ")
print(student_dataSet_old.shape)


#   2.Datatypes in the data set are : object, int64, float64 
print("2. The data types in the data set are == ")
print(student_dataSet_old.dtypes)

# 3.Null data in the data set : yes, we have null data that has to be cleaned
print("3. Records with NULL data == ")
print(student_dataSet_old.columns[student_dataSet.isnull().any()])

# List of Attributes which has null data :
# ['STDNT_TEST_ENTRANCE1', 'STDNT_TEST_ENTRANCE2',
# 'STDNT_TEST_ENTRANCE_COMB', 'CORE_COURSE_NAME_2_F',
# 'CORE_COURSE_GRADE_2_F', 'CORE_COURSE_NAME_3_F',
# 'CORE_COURSE_GRADE_3_F', 'CORE_COURSE_NAME_4_F',
# 'CORE_COURSE_GRADE_4_F', 'CORE_COURSE_NAME_5_F',
# 'CORE_COURSE_GRADE_5_F', 'CORE_COURSE_NAME_6_F',
# 'CORE_COURSE_GRADE_6_F', 'CORE_COURSE_NAME_1_S',
# 'CORE_COURSE_GRADE_1_S', 'CORE_COURSE_NAME_2_S',
# 'CORE_COURSE_GRADE_2_S', 'CORE_COURSE_NAME_3_S',
# 'CORE_COURSE_GRADE_3_S', 'CORE_COURSE_NAME_4_S',
# 'CORE_COURSE_GRADE_4_S', 'CORE_COURSE_NAME_5_S',
# 'CORE_COURSE_GRADE_5_S', 'CORE_COURSE_NAME_6_S',
# 'CORE_COURSE_GRADE_6_S', 'DISTANCE_FROM_HOME', 'HIGH_SCHL_GPA',
# 'HIGH_SCHL_NAME', 'FATHER_HI_EDU_CD', 'MOTHER_HI_EDU_CD',
# 'SECOND_TERM_ATTEMPT_HRS', 'SECOND_TERM_EARNED_HRS']

1. The size of the data set is ==  (3400, 56)
2. The data types in the data set are ==
STUDENT IDENTIFIER            int64
STDNT_AGE                     int64
STDNT_GENDER                 object
STDNT_BACKGROUND             object
IN_STATE_FLAG                object
INTERNATIONAL_STS            object
STDNT_MAJOR                  object
STDNT_MINOR                  object
STDNT_TEST_ENTRANCE1        float64
STDNT_TEST_ENTRANCE2        float64
STDNT_TEST_ENTRANCE_COMB    float64
FIRST_TERM                    int64
CORE_COURSE_NAME_1_F         object
CORE_COURSE_GRADE_1_F        object
CORE_COURSE_NAME_2_F         object
CORE_COURSE_GRADE_2_F        object
CORE_COURSE_NAME_3_F         object
CORE_COURSE_GRADE_3_F        object
CORE_COURSE_NAME_4_F         object
CORE_COURSE_GRADE_4_F        object
CORE_COURSE_NAME_5_F         object
CORE_COURSE_GRADE_5_F        object
CORE_COURSE_NAME_6_F         object
CORE_COURSE_GRADE_6_F        object
SECOND_TERM                   int64
CORE_COURSE_NAME_1_S         object
CORE_COURSE_GRADE_1_S        object
CORE_COURSE_NAME_2_S         object
CORE_COURSE_GRADE_2_S        object
CORE_COURSE_NAME_3_S         object
CORE_COURSE_GRADE_3_S        object
CORE_COURSE_NAME_4_S         object
CORE_COURSE_GRADE_4_S        object
CORE_COURSE_NAME_5_S         object
CORE_COURSE_GRADE_5_S        object
CORE_COURSE_NAME_6_S         object
CORE_COURSE_GRADE_6_S        object
HOUSING_STS                  object
RETURNED_2ND_YR               int64
DISTANCE_FROM_HOME          float64
HIGH_SCHL_GPA               float64
HIGH_SCHL_NAME               object
FATHER_HI_EDU_CD            float64
FATHER_HI_EDU_DESC           object
MOTHER_HI_EDU_CD            float64
MOTHER_HI_EDU_DESC           object
DEGREE_GROUP_CD              object
DEGREE_GROUP_DESC            object
FIRST_TERM_ATTEMPT_HRS        int64
FIRST_TERM_EARNED_HRS         int64
SECOND_TERM_ATTEMPT_HRS     float64
SECOND_TERM_EARNED_HRS      float64
GROSS_FIN_NEED                int64
COST_OF_ATTEND                int64
EST_FAM_CONTRIBUTION          int64
UNMET_NEED                  float64
dtype: object
3. Records with NULL data ==
Index(['STDNT_TEST_ENTRANCE1', 'STDNT_TEST_ENTRANCE2',
       'STDNT_TEST_ENTRANCE_COMB', 'CORE_COURSE_NAME_2_F',
       'CORE_COURSE_GRADE_2_F', 'CORE_COURSE_NAME_3_F',
       'CORE_COURSE_GRADE_3_F', 'CORE_COURSE_NAME_4_F',
       'CORE_COURSE_GRADE_4_F', 'CORE_COURSE_NAME_5_F',
       'CORE_COURSE_GRADE_5_F', 'CORE_COURSE_NAME_6_F',
       'CORE_COURSE_GRADE_6_F', 'CORE_COURSE_NAME_1_S',
       'CORE_COURSE_GRADE_1_S', 'CORE_COURSE_NAME_2_S',
       'CORE_COURSE_GRADE_2_S', 'CORE_COURSE_NAME_3_S',
       'CORE_COURSE_GRADE_3_S', 'CORE_COURSE_NAME_4_S',
       'CORE_COURSE_GRADE_4_S', 'CORE_COURSE_NAME_5_S',
       'CORE_COURSE_GRADE_5_S', 'CORE_COURSE_NAME_6_S',
       'CORE_COURSE_GRADE_6_S', 'DISTANCE_FROM_HOME', 'HIGH_SCHL_GPA',
       'HIGH_SCHL_NAME', 'FATHER_HI_EDU_CD', 'MOTHER_HI_EDU_CD',
       'SECOND_TERM_ATTEMPT_HRS', 'SECOND_TERM_EARNED_HRS'],
      dtype='object')

# 3. Data Preparation

If input data is numerical or categorical, do 3.1, 3.2 and 3.4
If input data is text, do 3.3 and 3.4


## 3.1 Check for 

* duplicate data
* missing data
* data inconsistencies

In [8]:
##---------Type the code below this line------------------##

#1.check for Duplicate data
duplicateRows = student_dataSet_old[student_dataSet.duplicated()]
print("The shape is == ",duplicateRows.shape)
if duplicateRows.shape[0] == 0:
    print("No Duplicate Data is found")

#   There are no duplicate rows in the data set and each one is unique object

The shape is ==  (0, 56)
No Duplicate Data is found

In [9]:
##---------Type the code below this line------------------##

#2.Check for missing data

print("The misisng data columns are ==  ","\n",student_dataSet_old.columns[student_dataSet.isnull().any()])

# this displays the column which has missing data

The misisng data columns are ==
 Index(['STDNT_TEST_ENTRANCE1', 'STDNT_TEST_ENTRANCE2',
       'STDNT_TEST_ENTRANCE_COMB', 'CORE_COURSE_NAME_2_F',
       'CORE_COURSE_GRADE_2_F', 'CORE_COURSE_NAME_3_F',
       'CORE_COURSE_GRADE_3_F', 'CORE_COURSE_NAME_4_F',
       'CORE_COURSE_GRADE_4_F', 'CORE_COURSE_NAME_5_F',
       'CORE_COURSE_GRADE_5_F', 'CORE_COURSE_NAME_6_F',
       'CORE_COURSE_GRADE_6_F', 'CORE_COURSE_NAME_1_S',
       'CORE_COURSE_GRADE_1_S', 'CORE_COURSE_NAME_2_S',
       'CORE_COURSE_GRADE_2_S', 'CORE_COURSE_NAME_3_S',
       'CORE_COURSE_GRADE_3_S', 'CORE_COURSE_NAME_4_S',
       'CORE_COURSE_GRADE_4_S', 'CORE_COURSE_NAME_5_S',
       'CORE_COURSE_GRADE_5_S', 'CORE_COURSE_NAME_6_S',
       'CORE_COURSE_GRADE_6_S', 'DISTANCE_FROM_HOME', 'HIGH_SCHL_GPA',
       'HIGH_SCHL_NAME', 'FATHER_HI_EDU_CD', 'MOTHER_HI_EDU_CD',
       'SECOND_TERM_ATTEMPT_HRS', 'SECOND_TERM_EARNED_HRS'],
      dtype='object')

In [10]:

student_dataSet_old['STDNT_GENDER'].nunique()
# sort them alphabetically and then take a closer look
# incons.sort()

2

In [11]:
# fill misisng course names course name with particular count of course

print("The misisng data columns are ==  ","\n",student_dataSet.columns[student_dataSet.isnull().any()])

                                                  

# #dropped columns student entrance 1 and entrance 2 as we have STDNT_TEST_ENTRANCE COMBINED 
student_dataSet.drop(["STDNT_TEST_ENTRANCE1","STDNT_TEST_ENTRANCE2"],axis=1,inplace=True) 



# #dropping HIGH_SCHL_NAME, FATHER_HI_EDU_CD, MOTHER_HI_EDU_CD

student_dataSet.drop(['HIGH_SCHL_NAME', 'FATHER_HI_EDU_CD', 'MOTHER_HI_EDU_CD'], axis=1,inplace=True)


#dropping all grades

student_dataSet.drop(['CORE_COURSE_GRADE_1_F', 'CORE_COURSE_GRADE_2_F', 'CORE_COURSE_GRADE_3_F',
                                           'CORE_COURSE_GRADE_4_F','CORE_COURSE_GRADE_5_F','CORE_COURSE_GRADE_6_F'],axis=1,inplace=True)

student_dataSet.drop(['CORE_COURSE_GRADE_1_S', 'CORE_COURSE_GRADE_2_S', 'CORE_COURSE_GRADE_3_S',
                                           'CORE_COURSE_GRADE_4_S','CORE_COURSE_GRADE_5_S','CORE_COURSE_GRADE_6_S'],axis=1,inplace=True)



#Replace high school grade null values with mean
student_dataSet['HIGH_SCHL_GPA'].fillna(student_dataSet['HIGH_SCHL_GPA'].mean(),inplace=True)

#Replace DISTANCE_FROM_HOME null values with mean
student_dataSet['DISTANCE_FROM_HOME'].fillna(student_dataSet['DISTANCE_FROM_HOME'].mean(),inplace=True)


#Replace STDNT_TEST_ENTRANCE_COMB null values with mean
student_dataSet['STDNT_TEST_ENTRANCE_COMB'].fillna(student_dataSet['STDNT_TEST_ENTRANCE_COMB'].mean(),inplace=True)


#We can remove all the subject names and keep number of subjects each student attended
#we can change the feature as 1 if there is a subject else 0

# #list of course feature name taken by each student in first term
course_1 = ['CORE_COURSE_NAME_1_F',  'CORE_COURSE_NAME_2_F', 'CORE_COURSE_NAME_3_F', 'CORE_COURSE_NAME_4_F',
      'CORE_COURSE_NAME_5_F', 'CORE_COURSE_NAME_6_F']

for feat in course_1:
    student_dataSet[feat] = student_dataSet_old[feat].fillna(0).apply(lambda x: 0 if x==0 else 1)


# #list of course feature name taken by each student in first term
course_1 = ['CORE_COURSE_NAME_1_F',  'CORE_COURSE_NAME_2_F', 'CORE_COURSE_NAME_3_F', 'CORE_COURSE_NAME_4_F',
       'CORE_COURSE_NAME_5_F', 'CORE_COURSE_NAME_6_F']

for feat in course_1:
     student_dataSet[feat] = student_dataSet_old[feat].fillna(0).apply(lambda x: 0 if x==0 else 1)


# #list of course feature name taken by each student in second term
course_2 = ['CORE_COURSE_NAME_1_S',  'CORE_COURSE_NAME_2_S', 'CORE_COURSE_NAME_3_S', 'CORE_COURSE_NAME_4_S',
       'CORE_COURSE_NAME_5_S', 'CORE_COURSE_NAME_6_S']

for feat in course_2:
     student_dataSet[feat] = student_dataSet_old[feat].fillna(0).apply(lambda x: 0 if x==0 else 1)
    


# #create number of subjects column for first term
student_dataSet['NO_OF_SUB_FIRST_TERM'] = student_dataSet[['CORE_COURSE_NAME_1_F',  'CORE_COURSE_NAME_2_F', 'CORE_COURSE_NAME_3_F', 'CORE_COURSE_NAME_4_F',
       'CORE_COURSE_NAME_5_F', 'CORE_COURSE_NAME_6_F']].sum(axis=1)

# #drop first term courses
student_dataSet.drop(course_1, axis=1, inplace=True)

# #create number of subjects column for Second term
student_dataSet['NO_OF_SUB_SECOND_TERM'] = student_dataSet[['CORE_COURSE_NAME_1_S',  'CORE_COURSE_NAME_2_S', 'CORE_COURSE_NAME_3_S', 'CORE_COURSE_NAME_4_S',
       'CORE_COURSE_NAME_5_S', 'CORE_COURSE_NAME_6_S']].sum(axis=1)

# #drop first term courses
student_dataSet.drop(course_2, axis=1, inplace=True)


# DEGREE_GROUP_CD  and  DEGREE_GROUP_DESC are same, we can drop anyone
student_dataSet.drop('DEGREE_GROUP_CD', axis=1, inplace=True)


# #create first term backlog hours from earned and attempt hours and remove earned hours
student_dataSet['FIRST_TERM_BACKLOG_HRS']  = (student_dataSet['FIRST_TERM_ATTEMPT_HRS'] - student_dataSet['FIRST_TERM_EARNED_HRS'])
student_dataSet.drop('FIRST_TERM_EARNED_HRS', axis=1, inplace=True)
student_dataSet['FIRST_TERM_BACKLOG_HRS'] = student_dataSet['FIRST_TERM_BACKLOG_HRS'].apply(lambda x : 0 if x<0 else x)

# # fill 0 in second term earned and attempt hours, might be they left the course after first term
student_dataSet['SECOND_TERM_ATTEMPT_HRS'].fillna(0,inplace=True)
student_dataSet['SECOND_TERM_EARNED_HRS'].fillna(0,inplace=True)

# #create second term backlog hours from earned and attempt hours and remove earned hours
student_dataSet['SECOND_TERM_BACKLOG_HRS']  = (student_dataSet['SECOND_TERM_ATTEMPT_HRS'] - student_dataSet['SECOND_TERM_EARNED_HRS'])
student_dataSet.drop('SECOND_TERM_EARNED_HRS', axis=1, inplace=True)
student_dataSet['SECOND_TERM_BACKLOG_HRS'] = student_dataSet['SECOND_TERM_BACKLOG_HRS'].apply(lambda x : 0 if x<0 else x)


#we can drop GROSS_FIN_NEED, becuase we have one more column called unmet need
student_dataSet.drop('GROSS_FIN_NEED',axis=1, inplace=True)

#update negative values of Un met need to 0
student_dataSet['UNMET_NEED'] = student_dataSet['UNMET_NEED'].apply(lambda x: 0 if x<0 else x)

#change name of target variable RETURNED SECOND YEAR to ATTRITION
student_dataSet['ATTRITION'] = student_dataSet['RETURNED_2ND_YR']
#drop RETURNED_2ND_YR column
student_dataSet.drop('RETURNED_2ND_YR',axis=1,inplace=True)


#drop STDNT_minor column - since 3160 out of 3400 doesnt have minor subject
student_dataSet['STDNT_MINOR'].value_counts()
student_dataSet.drop('STDNT_MINOR',axis=1,inplace=True)


student_dataSet.shape

The misisng data columns are ==
 Index(['STDNT_TEST_ENTRANCE1', 'STDNT_TEST_ENTRANCE2',
       'STDNT_TEST_ENTRANCE_COMB', 'CORE_COURSE_NAME_2_F',
       'CORE_COURSE_GRADE_2_F', 'CORE_COURSE_NAME_3_F',
       'CORE_COURSE_GRADE_3_F', 'CORE_COURSE_NAME_4_F',
       'CORE_COURSE_GRADE_4_F', 'CORE_COURSE_NAME_5_F',
       'CORE_COURSE_GRADE_5_F', 'CORE_COURSE_NAME_6_F',
       'CORE_COURSE_GRADE_6_F', 'CORE_COURSE_NAME_1_S',
       'CORE_COURSE_GRADE_1_S', 'CORE_COURSE_NAME_2_S',
       'CORE_COURSE_GRADE_2_S', 'CORE_COURSE_NAME_3_S',
       'CORE_COURSE_GRADE_3_S', 'CORE_COURSE_NAME_4_S',
       'CORE_COURSE_GRADE_4_S', 'CORE_COURSE_NAME_5_S',
       'CORE_COURSE_GRADE_5_S', 'CORE_COURSE_NAME_6_S',
       'CORE_COURSE_GRADE_6_S', 'DISTANCE_FROM_HOME', 'HIGH_SCHL_GPA',
       'HIGH_SCHL_NAME', 'FATHER_HI_EDU_CD', 'MOTHER_HI_EDU_CD',
       'SECOND_TERM_ATTEMPT_HRS', 'SECOND_TERM_EARNED_HRS'],
      dtype='object')

(3400, 26)


## 3.2 Apply techiniques
* to remove duplicate data
* to impute or remove missing data
* to remove data inconsistencies

In [12]:
##---------Type the code below this line------------------##


print(student_dataSet.columns)

Index(['STUDENT IDENTIFIER', 'STDNT_AGE', 'STDNT_GENDER', 'STDNT_BACKGROUND',
       'IN_STATE_FLAG', 'INTERNATIONAL_STS', 'STDNT_MAJOR',
       'STDNT_TEST_ENTRANCE_COMB', 'FIRST_TERM', 'SECOND_TERM', 'HOUSING_STS',
       'DISTANCE_FROM_HOME', 'HIGH_SCHL_GPA', 'FATHER_HI_EDU_DESC',
       'MOTHER_HI_EDU_DESC', 'DEGREE_GROUP_DESC', 'FIRST_TERM_ATTEMPT_HRS',
       'SECOND_TERM_ATTEMPT_HRS', 'COST_OF_ATTEND', 'EST_FAM_CONTRIBUTION',
       'UNMET_NEED', 'NO_OF_SUB_FIRST_TERM', 'NO_OF_SUB_SECOND_TERM',
       'FIRST_TERM_BACKLOG_HRS', 'SECOND_TERM_BACKLOG_HRS', 'ATTRITION'],
      dtype='object')

## 3.3 Encode categorical data

In [13]:
cat_list = list(student_dataSet.select_dtypes(exclude='number').columns)
#cat_list =cat_list.to_list()
cat_list

['STDNT_GENDER',
 'STDNT_BACKGROUND',
 'IN_STATE_FLAG',
 'INTERNATIONAL_STS',
 'STDNT_MAJOR',
 'HOUSING_STS',
 'FATHER_HI_EDU_DESC',
 'MOTHER_HI_EDU_DESC',
 'DEGREE_GROUP_DESC']

In [14]:
student_dataSet_f = pd.get_dummies(student_dataSet, columns=cat_list, drop_first=True)

In [15]:
student_dataSet_f.shape

(3400, 91)

## 3.4 Text data

1. Remove special characters
2. Change the case (up-casing and down-casing).
3. Tokenization — process of discretizing words within a document.
4. Filter Stop Words.

In [275]:
##---------Type the code below this line------------------##

In [13]:
##---------Type the code below this line------------------##

## 3.4 Report

Mention and justify the method adopted 
* to remove duplicate data, if present 
* to impute or remove missing data, if present 
* to remove data inconsistencies, if present 

OR for textdata
* How many tokens after step 3?
* how may tokens after stop words filtering?

If the any of the above are not present, then also add in the report below.

Score: 2 Marks (based on the dataset you have, the data prepreation you had to do and report typed, marks will be distributed between 3.1, 3.2, 3.3 and 3.4)

In [14]:
##---------Type the code below this line------------------##

In [15]:
##---------Type the code below this line------------------##

## 3.5 Identify the target variables.

* Separate the data from the target such that the dataset is in the form of (X,y) or (Features, Label)

* Discretize / Encode the target variable or perform one-hot encoding on the target or any other as and if required.

* Report the observations

Score: 1 Mark

In [16]:
##---------Type the code below this line------------------##
# y is the target variable , X is all other data set

y = student_dataSet['ATTRITION']
X = student_dataSet_f.drop('ATTRITION',inplace=True,axis=1)


#Encoding not required for target

# 4. Data Exploration using various plots

## 4.1 Scatter plot of each quantitative attribute with the target.

Score: 1 Mark

In [18]:
##---------Type the code below this line------------------##
#student_dataSet_f.info()
numeric_List = list(student_dataSet_f.columns)
numeric_List

#scatter plot of attrition
#sns.relplot(x_axis=student_dataSet_f["STDNT_AGE"], y_axis= y);

['STUDENT IDENTIFIER',
 'STDNT_AGE',
 'STDNT_TEST_ENTRANCE_COMB',
 'FIRST_TERM',
 'SECOND_TERM',
 'DISTANCE_FROM_HOME',
 'HIGH_SCHL_GPA',
 'FIRST_TERM_ATTEMPT_HRS',
 'SECOND_TERM_ATTEMPT_HRS',
 'COST_OF_ATTEND',
 'EST_FAM_CONTRIBUTION',
 'UNMET_NEED',
 'NO_OF_SUB_FIRST_TERM',
 'NO_OF_SUB_SECOND_TERM',
 'FIRST_TERM_BACKLOG_HRS',
 'SECOND_TERM_BACKLOG_HRS',
 'STDNT_GENDER_M',
 'STDNT_BACKGROUND_BGD 2',
 'STDNT_BACKGROUND_BGD 3',
 'STDNT_BACKGROUND_BGD 4',
 'STDNT_BACKGROUND_BGD 5',
 'STDNT_BACKGROUND_BGD 6',
 'STDNT_BACKGROUND_BGD 7',
 'STDNT_BACKGROUND_BGD 8',
 'IN_STATE_FLAG_Y',
 'INTERNATIONAL_STS_Y',
 'STDNT_MAJOR_Applied Computer Science',
 'STDNT_MAJOR_Art',
 'STDNT_MAJOR_Art Education',
 'STDNT_MAJOR_Biology',
 'STDNT_MAJOR_Biology and Secondary Ed',
 'STDNT_MAJOR_Chemistry',
 'STDNT_MAJOR_Chemistry and Secondary Ed',
 'STDNT_MAJOR_Communication',
 'STDNT_MAJOR_Computer Science - Games',
 'STDNT_MAJOR_Computer Science - Systems',
 'STDNT_MAJOR_Criminal Justice',
 'STDNT_MAJOR_Early Admission - Accel',
 'STDNT_MAJOR_Early Childhood Education',
 'STDNT_MAJOR_Earth and Space Science',
 'STDNT_MAJOR_Engineering Studies',
 'STDNT_MAJOR_English Language/Literature',
 'STDNT_MAJOR_English and Secondary Ed',
 'STDNT_MAJOR_Exercise Science',
 'STDNT_MAJOR_Finance',
 'STDNT_MAJOR_French',
 'STDNT_MAJOR_French with Teacher Cert',
 'STDNT_MAJOR_General Business',
 'STDNT_MAJOR_General Studies/AS',
 'STDNT_MAJOR_Geology',
 'STDNT_MAJOR_Health Science',
 'STDNT_MAJOR_Health and Physical Education',
 'STDNT_MAJOR_History',
 'STDNT_MAJOR_History and Secondary Ed',
 'STDNT_MAJOR_Information Technology',
 'STDNT_MAJOR_Joint Enrollment - Accel',
 'STDNT_MAJOR_Liberal Arts',
 'STDNT_MAJOR_Management',
 'STDNT_MAJOR_Management Information Systems',
 'STDNT_MAJOR_Marketing',
 'STDNT_MAJOR_Mathematics',
 'STDNT_MAJOR_Mathematics and Secondary Ed',
 'STDNT_MAJOR_Middle Grades Education',
 'STDNT_MAJOR_Music',
 'STDNT_MAJOR_Music Education',
 'STDNT_MAJOR_Music Performance',
 'STDNT_MAJOR_Nursing',
 'STDNT_MAJOR_Political Science',
 'STDNT_MAJOR_Pre-Business',
 'STDNT_MAJOR_Pre-Engineering/RETP',
 'STDNT_MAJOR_Pre-Nursing',
 'STDNT_MAJOR_Psychology',
 'STDNT_MAJOR_Sociology',
 'STDNT_MAJOR_Spanish',
 'STDNT_MAJOR_Spanish with Teacher Cert',
 'STDNT_MAJOR_Spec Ed: Gen. Curr. - Reading',
 'STDNT_MAJOR_Theatre Arts',
 'STDNT_MAJOR_Theatre Education',
 'STDNT_MAJOR_Undeclared',
 'HOUSING_STS_On Campus',
 'FATHER_HI_EDU_DESC_High School',
 'FATHER_HI_EDU_DESC_Middle School/Junior High',
 'FATHER_HI_EDU_DESC_No Information',
 'FATHER_HI_EDU_DESC_Other/Unknown',
 'MOTHER_HI_EDU_DESC_High School',
 'MOTHER_HI_EDU_DESC_Middle School/Junior High',
 'MOTHER_HI_EDU_DESC_No Information',
 'MOTHER_HI_EDU_DESC_Other/Unknown',
 'DEGREE_GROUP_DESC_Bachelors',
 'DEGREE_GROUP_DESC_Career Associate']

## 4.2 EDA using visuals
* Use (minimum) 2 plots (pair plot, heat map, correlation plot, regression plot...) to identify the optimal set of attributes that can be used for classification. 
* Name them, explain why you think they can be helpful in the task and perform the plot as well. Unless proper justification for the choice of plots given, no credit will be awarded.

Score: 2 Marks

In [18]:
##---------Type the code below this line------------------##

# 5. Data Wrangling

## 5.1 Univariate Filters 

#### Numerical and Categorical Data
* Identify top 5 significant features by evaluating each feature independently with respect to the target variable by exploring 
1. Mutual Information (Information Gain)
2. Gini index
3. Gain Ratio
4. Chi-Squared test
5. Fisher Score
(From the above 5 you are required to use only any <b>two</b>) 

#### For Text data

1. Stemming / Lemmatization.
2. Forming n-grams and storing them in the document vector.
3. TF-IDF
(From the above 2 you are required to use only any <b>two</b>)


Score: 3 Marks

In [19]:
##---------Type the code below this line------------------##

## 5.2 Report observations

Write your observations from the results of each method. Clearly justify your choice of the method.

Score 1 mark

In [20]:
##---------Type the code below this line------------------##

# 6. Implement Machine Learning Techniques

Use any 2 ML algorithms
1. Classification -- Decision Tree classifier 

2. Clustering -- kmeans

3. Association Analysis

4. Anomaly detection

5. Textual data -- Naive Bayes classifier (not taught in this course)

A clear justification have to be given for why a certain algorithm was chosen to address your problem.

Score: 4 Marks (2 marks each for each algorithm)

## 6.1 ML technique 1 + Justification

In [21]:
##---------Type the code below this line------------------##

## 6.2 ML technique 2 + Justification

In [22]:
##---------Type the code below this line------------------##

## 7. Conclusion 

Compare the performance of the ML techniques used.

Derive values for preformance study metrics like accuracy, precision, recall, F1 Score, AUC-ROC etc to compare the ML algos and plot them. A proper comparision based on different metrics should be done and not just accuracy alone, only then the comparision becomes authentic. You may use Confusion matrix, classification report, Word cloud etc as per the requirement of your application/problem.

Score 1 Mark

In [23]:
##---------Type the code below this line------------------##

## 8. Solution

What is the solution that is proposed to solve the business problem discussed in Section 1. Also share your learnings while working through solving the problem in terms of challenges, observations, decisions made etc.

Score 2 Marks

--------------Type the answers below this line--------------

##---------Type the answer below this line------------------##

##NOTE
All Late Submissions will incur a penalty of -2 marks. Do ensure on time submission to avoid penalty.

Good Luck!!!